<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field has-text-centered">
    <div class="control">
      <%= form.label :date, class: "label" %>
      <%= form.date_select :date,
                           order: [:month, :day, :year] %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, class: "textarea" %>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <%= form.submit class: "button is-info" %>
    </div>
    <div class="control">
      <%= link_to "Back to Events", root_path, class: "button is-dark" %>
    </div>
  </div>
<% end %>