<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <!-- Look at bulma's nested column page   -->
    
    <nav class="navbar">
      <div class="navbar-brand">
        <div class="columns is-centered">
          <div class="column is-full">
            <%= link_to root_path do %>
            <h2 class="title is-2 has-text-centered is-size-5-mobile">Private Events</h2>
            <% end %>
            <nav class="level is-mobile">
                <% if current_user %>
                  <%= link_to current_user.username, user_path(current_user), class: "button is-white level-item" %>
                  <%= link_to "New Event", new_event_path, class: "button is-white level-item" %>
                  <%= link_to "Log Out", logout_path, class: "button is-white level-item" %>
                <% else %>
                  <%= link_to "Sign In", new_session_path, class: "button is-white level-item has-text-centered" %>
                <% end %>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
